[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
bs4 = "*"
selenium = "*"
marshmallow = "*"
pyjwt = "*"
flask-wtf = "*"
psycopg2-binary = "*"
gunicorn = "*"
uuid = "*"
jwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
